<legend>Guest information</legend>
<table class='table table-bordered table-condensed table-striped'>
    <thead>
        <tr>
            <th>Guest</th>
            <th>Sector</th>
            <th>Company</th>

        </tr>
    </thead>
    <tbody>
        {% for rt in object.get_round_table %}

        <tr>   
            <td><strong>{{rt.guest.name}}<br>{{rt.guest.qualification}}</strong></td>
            <td>{{rt.guest.sector}}</td>
            <td>{{rt.guest.company}}<br>{{rt.guest.position}}</td>         


        </tr>
        <tr><td colspan= '3'>Spots remaining:{{rt.get_spots}} </td></tr>
        {% endfor %}
    </tbody>
</table>
<legend>Guest Biography</legend>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for rt in object.get_round_table %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{rt.guest.name |slugify}}" aria-expanded="true" aria-controls="collapseOne">
                    {{rt.guest.name}}
                </a>
            </h4>
        </div>
        <div id="collapse{{rt.guest.name|slugify}}" class="panel-collapse collapse {% if forloop.first %} in {% endif %}" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">  
                <div class = "row" >
                    <div class = "col-md-4 col-sm-4" >
                        {% if rt.guest.image %}
                        <img class="img-thumbnail img-responsive" src="{{rt.guest.image.url}}"/>

                        {% else %}
                        <img class="img-thumbnail img-responsive" src="http://placehold.it/200x100&text=Image"/> 
                        {% endif %}  
                    </div>
                   
                        {{rt.guest.biography | safe}}
                  
                </div>
            </div>
        </div>
    </div>    
    {% endfor %}
</div>       



