<h3>Talks</h3>
<table class='table table-bordered table-striped'>
    <tbody>
        {% for ev in object.get_talks %}
        <tr> <td colspan = '2'> {{ev.description|safe}}</td></tr>
        <tr>
          {% if ev.presenter.image %}
          {% else %}
          <td class="col-md-4"><img src="http://placehold.it/200x100&text=Image"/>  </td>
          {% endif %}
          <td class="col-md-8">
            <table class='table'>
              <tr><td>{{ev.presenter.name}}</td></tr>
              <tr><td>{{ev.presenter.qualification}}</td></tr>
              <tr><td>{{ev.presenter.company}}</td></tr>
           
               </td>
            </table>          
        </tr>
        <tr><td colspan= '2'>{{rt.guest.biography | safe}} </td></tr>
{% endfor %}
    </tbody>
</table>


