<h3>Guest information</h3>
<table class='table table-bordered table-striped'>
    <tbody>
        {% for rt in object.get_round_table %}
        
        <tr>
         {% if rt.guest.image %}
         <td class="col-md-4 img-responsive" > <img class="img-thumbnail" src="{{rt.guest.image.url}}"/></td>
         
          {% else %}
          <td class="col-md-4"><img class="img-thumbnail" src="http://placehold.it/200x100&text=Image"/>  </td>
          {% endif %}
          
          <td class="col-md-8">
            <table class='table'>
              <tr><td><strong>{{rt.guest.name}}</strong></td></tr>
              <tr><td>{{rt.guest.qualification}}</td></tr>  
                 <tr><td>{{rt.guest.company}}</td></tr>         
              <tr><td>Spots remaining: {{rt.get_spots}}</td></tr>
               </td>
            </table>          
        </tr>
        <tr><td colspan= '2'>{{rt.guest.biography | safe}} </td></tr>
{% endfor %}
    </tbody>
</table>


