{% extends 'base_sidebar.html' %}

{% load staticfiles %}
{% load static %}
{% block main_sidebar %}


<h2 style='margin-top:0px'> {{ object.name }}</h2>

<div class ='row'>

    <div class = {% if object.event_information %}'col-md-8' {% endif %}>
        {{object.event_information|safe}}
    </div>


    <div class = {% if object.event_information %} 'col-md-4' {% else %}'col-md-12' {%endif %}>
        Event date: {{object.starts|date:'M-d-o'}} @ {{object.starts|date:'P'}}  <br>
        Location: {{object.location}} <br>
        Time: {{object.starts|date:'P'}} to {{object.ends|date:'P'}} <br>

        {% if object.registration_open %}
        <a href="{% url 'profile-event' %}" class="btn btn-lg  btn-success pull-righ"> Register</a>
        {% elif object.registration_start > now %}
        <div class="alert alert-info" role="alert">Registration starts in {{object.registration_start|timeuntil}}</div>

        {% else %}
        <div class="alert alert-danger " role="alert"> Registration closed</div>
        {% endif %}
    </div>
</div>



{% if object.event_type.pk == 1 %}

{% include "event/include/include_network_reception.html" %}
{% else %}
{% include "event/include/include_other_events.html" %}
{% endif %}




{% if object.registration_open %}
<a href="{% url 'profile-event' %}" class="btn btn-lg  btn-success pull-righ"> Register</a>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">

$(document).ready(function() {
$('.panel').on('show.bs.collapse', function (e) {
   window.location.hash = '#' + e.target.id;
   console.log(e.target.id)
    //alert('Event fired on #' + e.target);
})
}) // end document ready
  </script>
{% endblock %}


