{% extends 'base_sidebar.html' %}
{% load staticfiles %}
{% load static %}
{% block main_sidebar %}
<h3>Life Sciences Career Development Society</h3>



The Life Sciences Career Development Society (LSCDS) serves to enhance the awareness of post-graduation career options. The LSCDS is managed entirely by graduate students with an interest in industry and support from the Faculty of Medicine (FoM) and School of Graduate Studies at the University of Toronto. As the largest and only FoM recognized career development society, our goal is to introduce potential career paths for graduate students in the life sciencesOur target population includes current graduate students (Ph.D., M.Sc.), post-doctoral fellows and research associates from the U of T and its affiliated teaching hospitals.


<h3 id="mission">Our Mission</h3>
To bridge the gap between academia and industry by providing opportunities for academics to network with professionals and build their career knowledge.

<h3 id="facts">LSCDS Facts</h3>

U of T’s largest and only Faculty of Medicine recognized society that helps you learn about industry!
Founded in 2001 and run entirely by graduate students & post-docs with an interest in careers outside of academia.
Majority of LSCDS alumni have gone on to pursue successful careers in a variety of non-academic industries.

{% endblock %}
