{% extends 'base_sidebar.html' %}
{% load staticfiles %}
{% load static %}
{% block main_sidebar %}
 <div class="row magazine-page">
                       <!-- Magazine Slider -->
                       
                
                <div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">            
                
                    <div class="carousel-inner">
                    {% for banner in banners %}
                       <div class="item {% if forloop.first %} active {% endif %}">
                            <img alt="" src="{{ banner.banner.url }}">
                            <div class="carousel-caption">
                                <p>{{banner.eventtype}}</p>
                            </div>
                        </div>
                      {% empty %}
              
                        <div class="item active">
                            <img alt="" src="{%static "images/_img"%}">
                            <div class="carousel-caption">
                                <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="{%static "images/_img1"%}">
                            <div class="carousel-caption">
                                <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                            </div>
                            </div>
                        <div class="item">
                            <img alt="" src="{%static "images/_img2"%}">
                            <div class="carousel-caption">
                                <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="{%static "images/_img3"%}">
                            <div class="carousel-caption">
                                <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    
                    <div class="carousel-arrow">
                        <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- End Magazine Slider -->

                <!-- Magazine News -->
                <div class="magazine-news">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="magazine-new-img">
                                <legend class="magazine-badge label-red">Our Mission</legend>                                    
                            </div>
                            <h3>To bridge the gap between academia and industry by providing opportunities for academics to network with professionals and build 
their career knowledge</h3>                            
                        </div>
                    </div>
                </div>
                <!-- End Magazine News -->

                <div class="margin-bottom-35"><hr class="hr-md"></div>
                
                <!-- Magazine News -->
                <div class="magazine-news">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="magazine-new-img">
                                <legend class="magazine-badge label-yellow">News</legend>                                    
                            </div>
                            <h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
                            <div class="by-author">
                                <strong>By Jack Villo</strong>
                                <span>/ September 19, 2013</span>
                            </div> 
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
                        </div>
                        <div class="col-md-6">
                            <div class="magazine-new-img">
                                <legend class="magazine-badge label-green">Subscription</legend>
                            </div>
                            <h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
                            <div class="by-author">
                                <strong>By Admin</strong>
                                <span>/ September 19, 2013</span>
                            </div> 
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
                        </div>
                    </div>
                </div>
                <!-- End Magazine News -->

                <div class="margin-bottom-35"><hr class="hr-md"></div>
                
                <!-- Magazine News -->
                <div class="magazine-news">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="magazine-new-img">
                                <legend class="magazine-badge label-purple">Testimonia</legend>                                    
                            </div>
                            <h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
                            <div class="by-author">
                                <strong>By Jack Villo</strong>
                                <span>/ September 19, 2013</span>
                            </div> 
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
                        </div>
                    </div>
                </div>
                <!-- End Magazine News -->

           

        </div>

{% endblock %}
