{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load future %}
{% load staticfiles %}
{% load static %}
{% load url from future %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class='control-group col-md-6 col-md-offset-2'>
<form method="post" action="">
    {% csrf_token %}
    {% crispy form %}
    
</form>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">

$(document).ready(function() {
$('form').append('<input type="submit" class = "btn btn-primary" value="Change password" />')

}) // end document ready
  </script>
 
{% endblock %}


{# This is used by django.contrib.auth #}