{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load future %}
{% load staticfiles %}
{% load static %}
{% load url from future %}

{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block css %} 
<link rel="stylesheet" href="{% static "assets/css/pages/page_log_reg_v2.css" %} ">

{% endblock %}

{% block main %}

<div class=" container col-md-12 eg-block">
    <div class="reg-block-header">
        <h2>Sign Up</h2>
        <ul class="social-icons text-center">
            <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="{% url 'social:begin' 'facebook' %}?next={% url 'first-login' %}"></a></li>
            <li><a class="rounded-x social_yahoo" data-original-title="Twitter" href="{% url 'social:begin' 'yahoo' %}?next={% url 'first-login' %}"></a></li>
            <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'first-login' %}"></a></li>
            <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="{% url 'social:begin' 'linkedin' %}?next={% url 'first-login' %}"></a></li>
        </ul>
        <p>Already Signed Up? Click <a class="color-green" href="{% url 'auth_login' %}">Sign In</a> to login your account.</p>
    </div>
    {% if form.errors %}
 <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
        {% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}   
    {% crispy form  %}


</div>
<!--End Reg Block-->

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
