{% extends 'base_sidebar.html' %}
{% load staticfiles %}
{% load static %}

{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}

{% block title %} Our Team{% endblock %}


{% block main_sidebar %}

{% for exec in object_list%}      
      
        <div class = "row">
         <div class = "col-md-4 col-sm-4" >
         {% if exec.avatar %}
         <img  class="img-thumbnail" src="{{exec.avatar.url}}" height="100" width="200">
         
          {% else %}
        <img class="img-thumbnail" src="http://placehold.it/200x100&text=Image"/>  
          {% endif %}
          
       </div>
           <strong>{{exec.user}}</strong></br>
           {{exec.position}}        </br> 
              
         {{exec.bio| safe}} </div>
{% endfor %}

 

{% endblock %}


