{% extends 'base_sidebar.html' %}
{% load staticfiles %}
{% load static %}

{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}

{% block title %} Our Team{% endblock %}


{% block main_sidebar %}

{% for exec in object_list%}      
      
        <div class = "row">
         <div class = "col-sm-3" >
         {% if exec.avatar %}
         <img  class="img-circle img-responsive" src="{{exec.avatar.url}}" height="100"  >
         
          {% else %}
        <img class="img-circle img-responsive" src="http://placehold.it/200x100&text=Image" height="100" />  
          {% endif %}
          
       </div>
           <strong>{{exec.user}}</strong>
           </br>
          <font size='2' color='grey'>  {{exec.position}}</font>       
            </br> 
              
         {{exec.bio| safe}}
          </div>
          <hr /> 
{% endfor %}

 

{% endblock %}


