{% extends "profile.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}
{% block profile_block %}


<div class='row'>
<div class='col-md-6 '>
<legend>Mailing List</legend>

<div class='row margin-bottom-30  '>
<div style = "display:none"   class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Your setting was changed
</div>


<div class='row margin-bottom-30  '>
<div style = "display:none" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
There was an error
</div>
</div>

  <ul class="list-inline col-sm-offset-3">
    <li>
      <div class="btn-group btn-toggle"> 
    	<button class="btn   {% if user.mailinglist == True %}btn-success active {% endif %}">Yes</button>
    	<button class="btn  {% if user.mailinglist == False %}btn-success active {% endif %}">No</button>
    	</div>
    </li>    
    </ul>          

</div> <!-- End of col-6  -->
</div> <!-- End of row-->

{% endblock %}
{% block javascript %}
<script type="text/javascript">
jQuery(document).ready(function() {

$('.btn').click(function() {
    //$(this).find('.btn').toggleClass('active');    
    //if ($(this).find('.btn-success').size()>0) {
    //	$(this).find('.btn').toggleClass('btn-success');
    //}  
    
    //$(this).find('.btn').toggleClass('btn-default');

    
    $.ajax({
    url: '/ajax_mailing_list/',
    data:{"data":$(this).text()},
    type: 'post', //this is the default though, you don't actually need to always mention it
    success: function(data) {
      if (data == "success"){ 
        $(".alert.alert-success").show()
        $('.btn').toggleClass('btn-success');
        }
      else { $(".alert.alert-danger").show()
      }
      
       
    },
    error: function(data) { 
       $(".alert.alert-danger").show()
    }
      }); 
       
});


 }); // End of doccument ready
                       </script>
 {% endblock %}
