{% extends "profile.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}
{% block profile_block %}
  <legend> Round table registration for {{form.event.value}}</legend>
<div class='col-md-6 col-md-offset-2'>
{% crispy form %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

$(document).ready(function() {
if ($(".select").val()==""){
$("#submit-id-round_table_delete").hide()
}// end if
}) // end document ready
  </script>
{% endblock %}

