{% extends "profile.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}
{% block profile_block %}

<div class='col-md-10'>
    <div class = 'row'>
<legend>Network Reception</legend>

        <div class='col-md-6'>

            <legend>Your event registrations</legend>

            <form class="registration"  action="{% url 'profile-event-registration' %}" method="post">
                <table  class='table table-bordered table-striped'>
                    <tbody> 
                        {% for event in  nr_list %}

                        <tr>  <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                            <td> <button type="submit" class="btn btn-primary">Modify/Unregister</button></td>
                        </tr> 
                        {% empty %}

                        No event in this category

                        {% endfor %}
                    </tbody>
                </table> 
            </form>


        </div> <!-- End of col-6  -->
        <div class='col-md-6'>
            <legend>Upcoming events</legend>
            <form class="registration"  action="{% url 'profile-event-registration' %}" method="post">
                <table class='table table-bordered table-striped'>
                    <tbody> <tr>  
                            {% for event in  not_nr_list %}

                            <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                            <td> <button type="submit" class="btn btn-primary">Register</button></td>
                        </tr> 


                        {% empty %}
                        No event in this category

                        {% endfor %}
                    </tbody>
                </table> 
            </form>

        </div> <!-- End of col-6  -->
    </div> <!-- End of row  -->


    <div class = 'row'>
 <legend>Other Events</legend>

        <div class='col-md-6'>

            <legend>Your event registrations</legend>

            <form class="registration"  action="{% url 'profile-event-registration' %}" method="post">
                <table  class='table table-bordered table-striped'>
                    <tbody> 
                        {% for event in  registered_list %}

                        <tr>  <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                            <td> <button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr> 
                        {% empty %}

                        No event in this category

                        {% endfor %}
                    </tbody>
                </table> 
            </form>


        </div> <!-- End of col-6  -->
        <div class='col-md-6'>
            <legend>Upcoming events</legend>
            <form class="registration"  action="{% url 'profile-event-registration' %}" method="post">
                <table class='table table-bordered table-striped'>
                    <tbody> <tr>  
                            {% for event in  not_registered_list %}
                           
                            <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                             {% if event.registration_open %}                                
                            <td> <button type="submit" class="btn btn-primary">Register</button></td>
                            {% else %}
                           <td> <div class="alert alert-info " role="alert">Registration opens in {{event.registration_start|timeuntil}}</div></td>
                            {% endif %}
                        </tr> 


                        {% empty %}
                        No event in this category

                        {% endfor %}
                    </tbody>
                </table> 
            </form>

        </div> <!-- End of col-6  -->

    </div> <!-- End of row  -->
 <legend>Your event history</legend>   
   <div class='row'> <!-- End of row  -->
  <ul class="fa-ul">
  {% for event in  event_history %}
  <li><i class="fa-li fa fa-check-square"></i><strong><a href={% url 'event:event-detail' slug=event.slug %} class="color-blue">{{event.name}}</a> </strong></li>
   {% empty %}
  <li><i class="fa-li fa fa-check-square"></i>No events at this time</li>  
     {% endfor %}
</ul> 
   
   </div> <!-- End of row  -->    
    
</div> <!-- End of col-10  -->
{% endblock %}

