{% extends "profile.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}
{% block main %}
  <legend> Registration  for {{event}}</legend>
<div class='col-md-6 col-md-offset-2'>
{% crispy form %}
 
</div>

 
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {

$('#submit-id-round_table').on("click",function(e){
 

});

 
 
if ($("form").find(".has-error").length>0){
$("#submit-id-round_table_delete").hide()
}// end if

if ($(".select").val()==""){
$("#submit-id-round_table_delete").hide()
}// end if

/*
$("option").each(function(){
// This is very hackish, but i had not choice
if ( ($(this).text().split(':')[1]) == "0)" )
{$(this).prop('disabled',true);
if($(this).is(':selected')){
var name = $(this).parent().attr("name")
var val = $(this).val()
$('<input type="hidden" name="'+name+'" value="'+val+'">').appendTo('form')}
}

})
*/

$('#registration').on('show', function(e) {
          $('#registration').focus()
        
})

$('#btnYes').click(function() {
    $("form").unbind().submit();  
     $('#registration').modal('toggle');
});

}) // end document ready
  </script>
{% endblock %}








