{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}

{% block title %} Account Profile{% endblock %}


{% block main %}


<h3>Hi {{user.get_full_name}} {% if request.user.is_staff %}<br>    <a href="{% url  'admin:index'  %}" > Go to admin page </a> {% endif %}  </h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}

{% if user.is_verified %}
<div class='row margin-bottom-30  '>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Your record shows that you are currently a University of Toronto student or at one of the University Health
Network hospitals. You are requested to verify your status each academic year starting September. Note that
event registration is free for  University of Toronto students and  affiliated institutions.</div>
</div>

{% else %}
<div class='row margin-bottom-30  '>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Your records show that you are not a trainee at the University of
 Toronto or its affiliated institutions. There is an event registration 
 fee for external trainees.

 <a  href="{% url 'uoft-email-verification' %}">Please verify your University of Toronto (or affiliated institutions) status</a>
</div>
</div>
{% endif %}

<div class="tab-v1">

 <ul class="nav nav-justified nav-tabs">
     <li><a href="{% url 'profile-event' %}">Event Registration</a></li>
     <li><a  href="{% url 'profile-update' %}">Update Profile</a></li>
    <li><a  href="{% url 'profile-notification' %}">Notification Settings</a></li>
    <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
        </ul>  
        <div class='container' style='padding-top:50px;'>
{% block profile_block %}



{% endblock %}
</div>

</div>

{% endblock %}

{% block javascript %}


{% endblock %}

