{% extends "profile.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}
{% block profile_block %}

<div class='col-md-10'> 
 <div class = 'row'>
 
<div class='col-md-6'>
<legend>Upcoming events</legend>
{% include "include/upcoming_events.html" with object=not_cd_list %}
{% include "include/upcoming_events.html" with object=not_nr_list %}
{% include "include/upcoming_events.html" with object=not_registered_list %}
 </div> <!-- End of col-6  -->
 
 <div class='col-md-6'>
<legend>Your event registrations</legend>
{% include "include/my_events.html" with object=cd_list %}
{% include "include/my_events.html" with object=nr_list %}
{% include "include/my_events.html" with object=registered_list %}
 </div> <!-- End of col-6  -->
 
 </div> <!-- End of row  -->

 <legend>Your event history</legend>   
   <div class='row'> <!-- End of row  -->
  <ul class="fa-ul">
  {% for event in  event_history %}
  <li><i class="fa-li fa fa-check-square"></i><strong><a href={% url 'event:event-detail' slug=event.slug %} class="color-blue">{{event.name}}</a> </strong></li>
   {% empty %}
  <li><i class="fa-li fa fa-check-square"></i>No events at this time</li>  
     {% endfor %}
</ul> 
   
   </div> <!-- End of row  -->    
    
</div> <!-- End of col-10  -->


<div id="registration" class="modal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
             <h3>Registration policy</h3>
        </div>
        <div class="modal-body">
             <p>By clicking this box, I understand that in order to confirm 
             that I have registered successfully, I must receive a confirmation 
             email and provide proof if necessary at the time of event attendance.
             </p>
             <p>If you do not receive
              confirmation email, please contact: lscds.uoft[at]gmail.com</p>
        </div>
        <div class="modal-footer">
          <a href="#" id="btnYes" class="btn confirm">I Understand</a>
          <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">

$(document).ready(function() {
$('#registration').on('show', function(e) {
  //  var link = $(this).data('link'),
   //     confirmBtn = $(this).find('.confirm');
 
          $('#registration').focus()
        
})

//We need to capture the right form to submit by using its ID
$('#registration').on('show.bs.modal', function(e) {
  var formId = $(e.relatedTarget).data('id');
  $("#btnYes").attr('data-id',formId)
 

})

$('#btnYes').click(function() {
  
    // handle form processing here
  	   $('#registration').modal('toggle')
     var formID = $(this).data('id')
   // $("#EventForm").submit();
     $('#'+formID).submit()
     console.log($('#'+formID).length)

  
});

}) // end document ready
  </script>
{% endblock %}




