{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}

{% block title %} Account Profile{% endblock %}


{% block main %}

<h3>Hi {{user.get_full_name}}</h3>

 <ul class="nav nav-justified nav-tabs">
     <li><a href="{% url 'profile-event' %}">Event Registration</a></li>
     <li><a  href="{% url 'profile-update' %}">Update Profile</a></li>
    <li><a  href="{% url 'profile-notification' %}">Notification Settings</a></li>
    <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
        </ul>  
        <div class='container' style='padding-top:50px;'>
{% block profile_block %}



{% endblock %}
</div>

{% endblock %}

{% block javascript %}


{% endblock %}

