{% extends "profile.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load form_utils %}
{% load lscds_tags %}
{% block profile_block %}

<div class='col-md-10'> 
 <div class = 'row'>
 
<div class='col-md-6'>
<legend>Upcoming events</legend>
{% if not_nr_list %}
<h4>Network Reception</h4>
 <form class="registration"  action="{% url 'profile-event-registration' %}" method="post">
                <table  class='table table-bordered'>
                    <tbody> 
                        {% for event in  not_nr_list %}
                        {% if event.registration_open %}
                        <tr>  <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                            <td> <button type="submit" class="btn btn-primary pull-right">Regiser</button></td>
                      {% elif event.registration_start > now %}
                      <td>  <strong>{{event.name}} </strong> </td>
                        <td class="alert alert-info col-md-6" role="alert">Registration starts in {{event.registration_start|timeuntil}}</td>

                      {% else %}
                      <td>  <strong>{{event.name}} </strong> </td>
                     <td class="alert alert-danger col-md-6" role="alert"> Registration closed</td>
                    {% endif %}
                       </td>
                      
                        </tr> 
                        
                        
                        {% empty %}

                        No event in this category

                        {% endfor %}
                    </tbody>
                </table> 
            </form>
 {% endif %}
            
 {% regroup not_registered_list  by event_type as eventtype_list %}


{% for eventtype in eventtype_list %}
    <h4>{{ eventtype.grouper }}</h4>
  
      
         <form class="registration"  action="{% url 'profile-event-registration' %}" method="post">
                <table  class='table table-bordered'>
                    <tbody> 
                      {% for event in eventtype.list %}
                      {% if event.registration_open %}
                        <tr>  <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                            <td> <button type="submit" class="btn btn-primary pull-right">Regiser</button></td>
                      {% elif event.registration_start > now %}
                      <td>  <strong>{{event.name}} </strong> </td>
                        <td class="alert alert-info col-md-6" role="alert">Registration starts in {{event.registration_start|timeuntil}}</td>

                      {% else %}
                      <td>  <strong>{{event.name}} </strong> </td>
                     <td class="alert alert-danger col-md-6" role="alert"> Registration closed</td>
                    {% endif %}
                       </td>
                      
                        </tr> 
                        {% empty %}

                        No event in this category

                        {% endfor %}
                    </tbody>
                </table> 
            </form>       
          
        {% endfor %}
       
   
            

 </div> <!-- End of col-6  -->
 
 <div class='col-md-6'>
<legend>Your event registrations</legend>
{% if nr_list %}
<h4>Network Reception</h4>
 <form class="registration"  action="{% url 'profile-event-registration' %}" method="post">
                <table  class='table table-bordered'>
                    <tbody> 
                        {% for event in  nr_list %}

                        <tr>  <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                            <td> <button type="submit" class="btn btn-primary pull-right">Modify/Unregister</button></td>
                        </tr> 
                        {% empty %}

                        No event in this category

                        {% endfor %}
                    </tbody>
                </table> 
            </form>
 {% endif %}
 
            
 {% regroup registered_list  by event_type as eventtype_list %}
{% for eventtype in eventtype_list %}
    <h4>{{ eventtype.grouper }}</h4>
  
       
         <form class="registration"  action="{% url 'profile-event-registration' %}" method="post">
                <table  class='table table-bordered'>
                    <tbody> 
                      
                       {% for event in eventtype.list %}
                        <tr>  <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                            <td> <button type="submit" class="btn btn-danger pull-right">Unregister</button></td>
                        </tr> 
                        {% empty %}

                        No event in this category

                        {% endfor %}
                    </tbody>
                </table> 
            </form>     
          
        {% empty %}
        No events at this time
   
{% endfor %}
 </div> <!-- End of col-6  -->
 
 </div> <!-- End of row  -->

 <legend>Your event history</legend>   
   <div class='row'> <!-- End of row  -->
  <ul class="fa-ul">
  {% for event in  event_history %}
  <li><i class="fa-li fa fa-check-square"></i><strong><a href={% url 'event:event-detail' slug=event.slug %} class="color-blue">{{event.name}}</a> </strong></li>
   {% empty %}
  <li><i class="fa-li fa fa-check-square"></i>No events at this time</li>  
     {% endfor %}
</ul> 
   
   </div> <!-- End of row  -->    
    
</div> <!-- End of col-10  -->
{% endblock %}

