{% extends 'base_sidebar.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} LSCDS | Sponsors {% endblock %}

{% block main_sidebar %}
 <link rel="stylesheet" href="{%static "assets/css/pages/page_clients.css" %}">

{% for sponsor in object_list %}
 <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        {% if sponsor.image %}
                          <img src="{{sponsor.image.url}}" class="img-responsive" alt="{{sponsor.name}}">
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <h3>{{sponsor.name}}</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> Canada</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="{{ sponsor.url }}">{{ sponsor.url }}</a></li>
                        </ul>
                        <p>{{ sponsor.description |safe }}
                   </div>
                </div>
                <!-- End Clients Block-->
{% empty %}
    <li>No sponsors</li>
{% endfor %}


    {% if i_paginated %}
        <ul class="pagination pagination-centered">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"></a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"></a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
        {% endif %}
{% endblock %}
