{% extends 'base_sidebar.html' %}
{% load staticfiles %}
{% load static %}
{% block main_sidebar %}
{% for sponsor in object_list %}
<h3><a href = "{{ sponsor.url }}">  <strong> {{ sponsor.name }}</strong>  </a></h3>

{{ sponsor.description |safe }}
{% if sponsor.image %}
<img src="{{sponsor.image.url}}" class="img-responsive" alt="{{sponsor.name}}">
{% endif %}
{% empty %}
    <li>No articles yet.</li>
{% endfor %}


    {% if i_paginated %}
        <ul class="pagination pagination-centered">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"></a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"></a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
        {% endif %}
{% endblock %}
