{% extends "base.html" %}
{% load i18n %}
{% load future %}
{% load staticfiles %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Mailing List Confirmation" %}{% endblock %}

{% block main %}
<div class="alert alert-success" role="alert">
Thank you very much for your wish to join the LSCDS mailing list. 
A confirmation has been sent to your email address.
 Please click on the confirmation link to complete the sign-up process.</div>
{% endblock %}