{% extends 'base_sidebar.html' %}
{% load staticfiles %}
{% load static %}
 {% load url from future %}
   {% load i18n %
 {% load future %}

{% block main_sidebar %}

  {% if messages %}
        {% for message in messages %}
         
            <div class="alert {%if  message.tags == "error" %} alert-danger {% else %}alert-success {% endif %}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    
<h1>Who is coming</h1>
<legend>Guest and Alumni</legend>
<table class="table  table-bordered condensed table-striped">
<thead> <tr><th class="col-sm-3" >Name </th><th class="col-sm-3">Position </th> <th class="col-sm-6">Company </th> </tr> </thead>
 <tbody>
{% for obj in object_list %}

<tr><td>{{ obj.guest}}</td><td>{{ obj.guest.position}}</td><td>{{ obj.guest.company}}</td></tr>



{% endfor %} 
{% for obj in alumni_list %}

<tr><td>{{ obj.alumni}}</td><td>{{ obj.alumni.current_position}}</td><td>{{ obj.alumni.company}}</td></tr>



{% endfor %}

{% for obj in guest_list %}

<tr><td>{{ obj.full_name}}</td><td>{{ obj.position}}</td><td>{{ obj.company}}</td></tr>


{% endfor %}
 
</tbody>
</table>
{% comment %}
<legend> Alumni </legend>
<table class="table  table-bordered condensed table-striped">
<thead> <tr><th class="col-sm-3" >Name </th><th class="col-sm-3">Position </th> <th class="col-sm-6">Company </th> </tr> </thead>
 <tbody>
{% for obj in alumni_list %}

<tr><td>{{ obj.alumni}}</td><td>{{ obj.alumni.current_position}}</td><td>{{ obj.alumni.company}}</td></tr>


{% empty %}
    <li>No guest yet.</li>
{% endfor %} 
</tbody>
</table>
{% endcomment %}
<legend> Lscds Exec </legend>
<table class="table  table-bordered table-striped">
<thead> <tr><th class="col-sm-3" >Name </th><th class="col-sm-3">Position </th> <th class="col-sm-6">Company </th> </tr> </thead>
 <tbody>
{% for obj in exec_list %}

<tr><td>{{ obj.alumni}}</td><td>{{ obj.alumni.position}}</td><td>{{ obj.alumni.company}}</td></tr>


{% empty %}
    <li>No guest yet.</li>
{% endfor %} 
</tbody>
</table>



    {% if is_paginated %}
        <ul class="pagination pagination-centered">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"></a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"></a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
        {% endif %}
{% endblock %}
