{% extends "base.html" %}
{% load i18n %}
{% load future %}
{% load staticfiles %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Guest RSVP" %}{% endblock %}

{% block main %}
 <div class="col-md-8 col-md-offset-2">
 <legend > Hi {{ object }}  </legend >
 Please complete the form below for our next  <strong> {{event}} </strong><br>
 <a href="{{event.get_absolute_url}}" target="_blank">Who is coming (open in new page)</a>
   <br>
   <br>
 {% if form.errors %}
 <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
        {% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}   
    {% crispy form  %}
 </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
$('body').on('click','#id_plus_one_coming',function(e){ 
 if($(this).is(":checked")){      
                 $("div[id^=div_id_guest]").show()
            }
            else if($(this).is(":not(:checked)")){
          $('div[id^=div_id_guest]').hide()    
                
            }

})

if($('#id_plus_one_coming').is(":checked")){      
                $("div[id^=div_id_guest]").show()
            }
            else if($('#id_plus_one_coming').is(":not(:checked)")){
            $('div[id^=div_id_guest]').hide()    
                
            }
            
            
}) // end document ready
  </script>
{% endblock %}

