 
  <div class="row"> 
 {% for event in  registered_list %}
   <div style='padding:0px;' class="col-xs-12"> <hr style='margin: 0;border-top: 4px solid #eee;'></div>
 <div class="col-md-8 col-xs-12"> 
 <P><strong> {{ event.name }}</strong> : {{ event.starts|date }}   </P>
  <P>{{event.break_location|safe}}</P>
</div>
 
 
 <div class="col-md-4 col-xs-12" > 
 <form class="registration"  action="{{ event.get_registration_url }}" method="post"> 
                      {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                             <button type="submit" class="btn btn-danger btn-block ">Modify or Unregister</button>        
            </form>
                </div>        
  {% empty %}
    <div class="col-md-4 col-xs-12"> 
  No registered events
   </div>    
 {% endfor %}
  
  </div>          
 
 