{% if object %}
{% with object|first as e %}
<h4>{{e.event_type}}</h4>
{% endwith %}
 {% for event in  object %}
 <form class="registration"  action="{{ event.get_registration_url }}" method="post">
                <table  class='table table-bordered'>
                    <tbody> 
                       

                        <tr>  <td>  <strong>{{event.name}} </strong> {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{event.pk}}"> </td> 
                            <td> <button type="submit" class="btn btn-danger pull-right">Modify or Unregister</button></td>
                        </tr>                       
                    </tbody>
                </table> 
            </form>
            
  {% endfor %}           
 {% endif %}