{% if not_registered_list %}
   <div class="row"> 

 {% for event in  not_registered_list %}
   <div style='padding:0px;' class="col-xs-12"> <hr style='margin: 0;border-top: 4px solid #eee;'></div>

  <div class="col-md-8 col-xs-12"> 
<P><strong> {{ event.name }}</strong> : {{ event.starts|date }}   </P>
  <P>{{event.break_location|safe}}</P>
 </div>

  <div class="col-md-4 col-xs-12"> 
 <form class="registration" id="EventForm{{event.pk}}" action="{{ event.get_registration_url }}" method="post">{% csrf_token %}
 
      
           
        {% if not user.is_verified and not event.registration_open_non_u_of_t  %}
          
                     <div class="alert alert-danger  " role="alert"> Registration closed for none University of Toronto students</div>
                  
          {% elif event.registration_open %}
            
                 
                         <input type="hidden" name="event_id" value="{{event.pk}}">  
                            <div> <a data-toggle="modal" data-id = "EventForm{{event.pk}}" data-target="#registration" type="submit" class="btn btn-primary btn-block">Register</a></div>

           {% elif event.registration_start > now %}
                     
                        <div class="alert alert-info  " role="alert">Registration starts in {{event.registration_start|timeuntil}}</div>

           {% else %}
                   
                     <div class="alert alert-danger  " role="alert"> Registration closed</div>
                    {% endif %}                
                      
            
               
 </form>
  </div>
  <hr>
 {% endfor %}
    </div>    
       
       
 {% endif %}