{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}
{% load staticfiles %}
{% load static %}
{% load i18n l10n %}
{% load future %}

{% load url from future %}
{% load crispy_forms_tags %}

{% block extrastyle %}

  <link rel="stylesheet" href="{%static "assets/plugins/bootstrap/css/bootstrap.min.css" %}"> 
 <style>
 .overflow{max-height:500px;
          overflow-y: scroll;}
 .top-buffer { margin-top:20px; }         
 </style>
{% endblock %}
{% block pretitle %}{% endblock %}
        {% block content_title %}{% endblock %}


{% block content %}
<div class="container">

<div style="display:none" id="message" class="alert alert-success" role="alert">
Emails sent
</div>

<div class = "row ">

  <a id = "export" class = "btn btn-primary btn-lg"/> {% trans "Export List Serv" %}</a>
 </div>
 <div class = "row top-buffer ">
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
Send Email 
</button> 
</div>

 <div class = "row collapse top-buffer " id="collapseExample">
 <form class="form-horizontal col-md-8"  action="" method="post">{% csrf_token %}

  
 {{ form.media }}

 <div class="checkbox">
    <label>
      <input type="checkbox" name='guest' required = "False" > Send Email to Guests
    </label>
  </div>

  <br /><br />
        {% crispy  form %}
 
 </form>
        <a id = "preview" class = "btn btn-primary btn-lg"/>{% trans "Preview" %}</a>
        <a id = "email" class = "btn btn-primary btn-lg"/>{% trans "Send Now" %}</a>
</div>
<br><br>

<div class = "row">

<div class = "overflow col-md-4">

 <table  class='table table-bordered'>
  <caption>Lscds Users</caption>
  <thead>
              <tr>
                <th class = "col-md-6" >Name</th>  
                 <th class = "col-md-6">Email</th>          
             
              </tr>
           </thead>
                    <tbody>                        
                    {% for obj in users %}
                        <tr>  <td >  <strong>{{obj.get_full_name}} </strong>  </td> 
                            <td  > {{obj.email}} </td>  </tr> 
                     
                        {% endfor %}
                    </tbody>
                </table> 
</div>

<div class = "overflow col-md-4">
 <table  class='table table-bordered'>
<caption>Old Lscds Users</caption>
<thead>
              <tr>
                <th>Name</th>  
                 <th>Email</th>          
             
              </tr>
           </thead>
                    <tbody>                        
                    {% for obj in old_users %}
                        <tr>  <td class = "col-md-6" >  <strong>{{obj.get_full_name}} </strong>  </td> 
                            <td class = "col-md-6"> {{obj.email}} </td>  </tr> 
                     
                        {% endfor %}
                    </tbody>
                </table> 
</div>
<div class = "overflow col-md-4">
 <table  class='table table-bordered'>
<caption>Mailing List</caption>
<thead>
              <tr>
                <th>Name</th>  
                 <th>Email</th>          
             
              </tr>
           </thead>
                    <tbody>                        
                    {% for obj in mailing_list %}
                        <tr>  <td class = "col-md-6"  >  <strong>{{obj.get_full_name}} </strong>  </td> 
                            <td class = "col-md-6"  > {{obj.email}} </td>  </tr> 
                     
                        {% endfor %}
                    </tbody>
                </table> 
</div>

<div>

</div>
  <script type="text/javascript" src="{%static "assets/plugins/jquery/jquery.min.js" %}"></script>
   <script type="text/javascript" src="{%static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script> 
      <script type="text/javascript" src="{%static "assets/js/jquery.validate.min.js" %}"></script>
                            
   <script>
        $(document).ready(function() {
        // override jquery validate plugin defaults
                // override jquery validate plugin defaults
$.validator.setDefaults({
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },
    errorElement: 'span',
    errorClass: 'help-block',
    errorPlacement: function(error, element) {
        if(element.parent('.input-group').length) {
            error.insertAfter(element.parent());
        } else {
            error.insertAfter(element);
        }
    }
});
        
            $('form input,form select, form textarea').not([type="submit"]).addClass('required');

            $("form").validate( {
              rules: {
    guest: {
      required: false
    }
  }   
            })

            $("#email").on("click",function(e){
     
            for ( instance in CKEDITOR.instances ) {
                    CKEDITOR.instances[instance].updateElement(); } 
                    
                if ( $("form").valid() ){
                    $.ajax({
                        url: '/send-list-serve-email/',
                        data:$("form").serialize(),
                        type: 'post', //this is the default though, you don't actually need to always mention it
                        success: function(data) { 
                           $('#message').show()
                                   },
                        error: function(data,ee,rr) {		
                            alert("An error occured . Contact site admin")
                        }
                    }); // ajax

                }    // end if

                e.preventDefault()


            }); // click
              $("#preview").on("click",function(e){
     
            for ( instance in CKEDITOR.instances ) {
                    CKEDITOR.instances[instance].updateElement(); } 
                    
                if ( $("form").valid() ){
                    $.ajax({
                        url: '/events/email_preview/',
                        data:$("form").serialize(),
                        type: 'post', //this is the default though, you don't actually need to always mention it
                        success: function(data) { 
                            var h = 500;
                            var w= 500   
                            title ='email preview'
                            var url = '/events/email_preview/';
                            var left = (screen.width/2)-(w/2);
                            var top = (screen.height/2)-(h/2);
                            return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);	      
                        },
                        error: function(data,ee,rr) {		
                            alert("An error occured . Contact site admin")
                        }
                    }); // ajax

                }    // end if

                e.preventDefault()


            }); // click
            
            
         $("#id_template").on("change",function(e){ 
              $.ajax({
                        url: '/load_template/',
                        data:{"pk":$(this).val()},
                        type: 'post', //this is the default though, you don't actually need to always mention it
                        success: function(data) { 
                      for ( instance in CKEDITOR.instances ) {
                    CKEDITOR.instances[instance].setData(data);                    
                    CKEDITOR.instances[instance].resize( 700, 400,true); } 
                  
                           
                             },
                        error: function(data,ee,rr) {		
                            alert("An error occured . Contact site admin")
                        }
                    }); // ajax
            
         
         })// end select 
         
         
 $("#export").on("click",function(e){ 
            window.location.href='/download_listserve/'
            
         
         })// end select 
            
            
        }); // document ready


    </script>  
{% endblock %}
