{% extends 'base.html' %}
{% load future %}
{% load staticfiles %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
LSCDS | Contact Us
 {% endblock%}
    {% block css %} 
      <!-- CSS Page Style -->    
    <link rel="stylesheet" href="{%static "assets/css/pages/page_contact.css" %}">
    {% endblock %}
 {% block main %}


            <h2>Our Contacts</h2>
            
{% if messages %}

    {% for message in messages %}
  <div class=" alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" 
                              aria-hidden="true">
                               &times;
                            </button>
                           {{message}}
                        </div> 
    {% endfor %}

{% endif %}

    <!-- Google Map -->
    <div id="map" class="map">
    </div><!---/map-->
    <!-- End Google Map -->

    <!--=== Content Part ===-->
    <div class="container content">		
    	<div class="row margin-bottom-30">
    		<div class="col-md-9 mb-margin-bottom-30">
                <div class="headline"><h2>Contact Form</h2></div>
                <p>
All comments, collaboration and sponsorship opportunities are welcomed.
You can also send us direct <a href="mailto:lscds.uoft@gmail.com"> email</a>
                 </p><br />
                 
    			  {% crispy form %}   			
            </div><!--/col-md-9-->
            
    		<div class="col-md-3">
            	<!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>521 Sussex Ave<br>
                                                       Sussex Clubhouse, Room 535<br>
                                                        Toronto, ON, M5S 1J6</a></li>
                    <li><a href="mailto:lscds.uoft@gmail.com"><i class="fa fa-envelope"></i>lscds.uoft [ at ] gmail.com</a></li>
                       </ul>

            	<!-- Business Hours -->
                <div class="headline"><h2>Business Hours</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                	<li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                	<li><strong>Saturday:</strong> 11am to 3pm</li>
                	<li><strong>Sunday:</strong> Closed</li>
                </ul>

            	<!-- Why we are? -->
                <div class="headline"><h2>Useful Links</h2></div>
                 <ul class="list-unstyled">
                    <li> <a href="{% url 'event:event-list' %}">Our Events</a> </li>
                    <li><a href="{% url 'zinnia:entry_archive_index' %}">Our Blog</a></li>                              
                	
                </ul>
            </div><!--/col-md-3-->
        </div><!--/row-->        


    </div><!--/container-->		
    <!--=== End Content Part ===-->

        
    {% endblock %}


 {% block javascript %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{%static "assets/plugins/gmap/gmap.js" %}"></script>


<script type="text/javascript" src="{%static "assets/js/pages/page_contacts.js" %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();                
        ContactPage.initMap();              
    });
</script>
{% endblock %}


