<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
    <!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
        <!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
            {% load future %}
            {% load staticfiles %}
            {% load static %}
            {% load url from future %}
            {% load i18n %}
            {% load googlesearch_inclusion_tags %}
            <head>
                  <title>

                {% block title %}
                                  LSCDS HOME

                {% endblock %}
                 </title>

                <!-- Meta -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                <meta name="author" content="">
                    {% block meta %}
                  {% endblock meta %}

                <!-- Favicon -->
                <link rel="shortcut icon" href="favicon.ico">
                <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/css/screen.css" %}" />
            <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/css/print.css" %}" />
            
            
          {% block css_zinnia %}   {% endblock %}
                <!-- CSS Global Compulsory -->
                <link rel="stylesheet" href="{%static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">
                <link rel="stylesheet" href="{%static "assets/css/style.css"%}">

                <!-- CSS Implementing Plugins -->
                <link rel="stylesheet" href="{%static "assets/plugins/line-icons/line-icons.css" %}">
                <link rel="stylesheet" href="{%static "assets/plugins/font-awesome/css/font-awesome.min.css" %}">

                <!-- CSS Page Style -->    
                <link rel="stylesheet" href="{%static "assets/css/pages/blog_magazine.css" %}">

                <!-- CSS Theme -->    
                <link rel="stylesheet" href="{%static "assets/css/theme-colors/default.css" %}">
               
                <link rel="stylesheet" href="{%static "editable/css/bootstrap-editable.css" %}">
                <!-- CSS Customization -->
                <link rel="stylesheet" href="{%static "assets/css/custom.css" %}">
                
                {% block css %}   {% endblock %}



            </head> 

            <body>
                <div class="wrapper">
                    <!--=== Header v4 ===-->    
                    <div class="header-v4">
                        <!-- Topbar -->
                        <div class="topbar-v1">
                            <div class="container">
                                <div class="row">
                                    <div class="pull-righ">
                                        <ul class="list-inline top-v1-data">
                                            <li><a href="{% url 'home' %}" ><i class="fa fa-home"></i></a></li>                                        
                                          
                                              {% if user.is_authenticated %}
                                            <li> <a href="{% url 'auth_logout' %}?next=/">{% trans "Log Out" %}</a></li>
                                            <li><a href="{% url 'profile-event' %}">My Account</a></li>
                                               {% else %}
                                            <li><a href="{% url 'auth_login' %}">{% trans "Log In" %}</a></li>
                                            <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
                                             <!--li><a href="{% url 'auth_login' %}">{% trans "Subscribe" %}</a></li-->
                                             {% endif %}
                                             <li><a href="{% url 'mailing_list-form' %}">{% trans "Subscribe to mailing List" %}</a></li>
                                              <li><a href="{% url 'web-unsubscribe' %}">{% trans "Unubscribe from mailing List" %}</a></li>
                                            
                                            
                                             <li>
                                             
                                            <a href="https://www.facebook.com/groups/5847151923/" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            </li>      
                                            
                                            <li>
                                            <a href="https://www.linkedin.com/groups?gid=89011" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                            </li>                                            
                                            <li>
                                            <a href="https://twitter.com/lscdsuoft" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            </li>
                                          
                                        <li>{% googlesearch_form %}</li>
                                        </ul>
                                    </div>
                                </div>        
                            </div>
                        </div>
                        <!-- End Topbar -->

                        <!-- Navbar -->
                        <div class="navbar navbar-default mega-menu" role="navigation">
                            <div class="container">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <a href="{% url 'home' %}"><img class="header-banner img-responsive" src=" {% if logo.image %} {{logo.image.url}} {% else %} {%static "images/banner_website-02.png" %} {% endif %}" alt="Smiley face" height="200" ></a>
                                        </div>
                                    </div>    
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                        <span class="full-width-menu">Menu Bar</span>
                                        <span class="icon-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </span>    
                                    </button>
                                </div>
                            </div>    

                            <!--div class="clearfix"></div-->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-responsive-collapse">
                                <div class="container">
                                    <ul class="nav nav-justified">
                                        <!-- Home -->
                                        <li class="dropdown ">
                                        <a href="{% url 'home' %}">Home</a>                              
                                        </li>
                                        <!-- End Home -->

                                        <!-- Pages -->                        
                                        <li class="dropdown">
                                        <a href="{% url 'about' %}" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"class="dropdown-toggle"  >
                                            About Us
                                        </a>
                                        <ul class="dropdown-menu">
                                            <!-- About Pages -->
                                            <li>
                                            <a href="{% url 'about' %}#mission">Our Mission</a>                                                                
                                            </li>
                                            <!-- End About Pages -->
                                            <li>
                                            <a href="{% url 'exec' %}">Our team</a>                                                                
                                            </li>
                                            <!-- End About Pages -->

                                        </ul>
                                        </li>
                                        <!-- End Pages -->

                                        <!-- Events -->
                                        <li class="dropdown">
                                        <a href="{% url 'event:event-list' %}" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" >Our Events</a>  
                                        <ul class="dropdown-menu">
                                             <a href="{% url 'event:event-list' %}"> Our Events</a>  
                                            {% if context_eventtype %}
                                            {% for ent in context_eventtype %}
                                            <li><a href="{% url 'event:event-type-detail' slug=ent.slug %}">{{ent.name}}</a></li>
                                           {% empty %}
                                                 <li><a href="#">Seminar series</a></li>
                                           {% endfor %}
                                            {% endif%}
                                           
                                        </ul>
                                        </li>                    
                                        <!-- End Events -->

                                        <!-- Blog -->
                                        <li>
                                        <a href="{% url 'zinnia:entry_archive_index' %}">Our Blog</a>  
                                        </li>                    
                                        <!-- End Blog -->

                                        <!-- Resources -->
                                        <li class="dropdown">
                                        <a href="#" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">LSCDS Resources</a>  
                                        <ul class='dropdown-menu'>
                                         <li> <a href="{% url 'resource:job-list' %}">Jobs</a> </li> 
                                         {% if context_resource %}
                                            {% for resource in context_resource %}
                                            <li><a href="{{resource.get_absolute_url}}">{{resource.name}}</a></li>
                                           
                                            {% endfor %}
                                            {% endif%}
                                      
                                                                                 
                                       <li> <a href="{% url 'resource:files' %}">Additional Resources</a> </li>
                                       
                                          </ul>
                                        </li>                    
                                        <!-- End Resources -->

                                        <!-- Gallery -->
                                        <li>
                                        <a href="{% url 'pl-photologue-root' %}">Gallery</a>  
                                        </li>                    
                                        <!-- End Gallery -->

                                        <!-- Alumni -->
                                        <!--li>
                                        <a href="#">Alumni</a>  
                                        </li-->                    
                                        <!-- End Alumni -->

                                         <!-- Sponsor -->
                                        <li>
                                        <a href="{% url 'sponsors:sponsor-list' %}">Sponsor</a>  
                                        </li>                    
                                        <!-- End Sponsor -->
                                       
                                         <!-- Alumni -->                        
                                        <li class="dropdown">
                                        
                                        
                                        {% with context_alumni_tab|first as tab1 %}
                                        <a href="{{tab1.get_absolute_url}}" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{% firstof tab1.name "Alumni of LSCDS" %} </a>  
                                        {% endwith %}
                                        <ul class='dropdown-menu'>   
                                                                             
                                         {% if context_alumni_tab %}
                                            {% for tab in context_alumni_tab %}
                                            <li><a href="{{tab.get_absolute_url}}">{{tab.name}}</a></li>
                                           
                                            {% endfor %}
                                            {% endif%}
                                          </ul>
                                        </li>   
                                        <!-- End Alumni -->

                                        <!-- Contact  -->
                                        <li>
                                        <a href="{% url 'contact' %}">Contact Us</a>  
                                        </li>                    
                                        <!-- End Contact -->
                                        
                                         <!-- Contact -->

                                        <li>
                                        <a href="{% url 'faq' %}">Faq</a>  
                                        </li>                    
                                        <!-- End Contact -->
                                       
                                    </ul>
                                </div><!--/end container-->
                            </div><!--/navbar-collapse-->
                        </div>            
                        <!-- End Navbar -->
                    </div>
                    <!--=== End Header v4 ===-->    

                    <!--=== Content Part ===-->
                    <div class="container content" >
                           <div style="min-height:200px;" >

                        {% block main %} 

                        {% endblock %}
                           </div>


                      
                    </div><!--/container-->     
                    <!-- End Content Part -->

                    <!--=== Footer Version 1 ===-->
                    <div class="footer-v1">
                        <div class="footer">
                            <div class="container">
                                <div class="row">
                                    <!-- Latest -->
                                    <div class="col-md-4 md-margin-bottom-40">
                                        <div class="posts">
                                            <div class="headline"><h2>Upcoming Events</h2></div>
                                            <ul class="list-unstyled latest-list">
                                            {% if context_event %}
                                      {% for event in context_event%}
                                       <li>
                                      <a href={% url 'event:event-detail' slug=event.slug %} class="color-blue"> {{event.name}}</a> 
                                     <small> on {{event.starts|date:'M-d-o'}} @ {{event.starts|date:'P'}}</small>
                                      {% empty %}
                                    <font>No event at this time</font>
                                    {% endfor %}
                                    {% else %}
                                   <li> <font color="blue">No event at this time</font></li>
                                    {% endif %}                                               
                                            </ul>
                                        </div>
                                    </div><!--/col-md-3-->  
                                    <!-- End Latest --> 

                                    <!-- Link List -->
                                    <div class="col-md-4 md-margin-bottom-40">
                                        <div class="headline"><h2>Useful Links</h2></div>
                                        <ul class="list-unstyled link-list">
                                            <li><a href="{% url 'about' %}">About Us</a><i class="fa fa-angle-right"></i></li>
                                            <li><a href="{% url 'event:event-list' %}">Our Events</a><i class="fa fa-angle-right"></i></li>
                                            <li><a href="{% url 'resource:job-list' %}">Latest Jobs</a><i class="fa fa-angle-right"></i></li>                                         
                                            <li><a href="{% url 'contact' %}">Contact Us</a><i class="fa fa-angle-right"></i></li>
                                            <li><a href="{% url 'faq' %}">Faq</a></li>
                                        </ul>
                                    </div><!--/col-md-3-->
                                    <!-- End Link List -->                    

                                    <!-- Address -->
                                    <div class="col-md-4 map-img md-margin-bottom-40">
                                        <div class="headline"><h2>Contact Us</h2></div>                         
                                        <address class="md-margin-bottom-40">
                                             Medical Sciences Bldg <Br>
                                             University of Toronto - St. George Campus<br>
                                              1 King's College Circle<br>                                        

                                               Toronto, ON M5S 1A852<br>
                                               <a  style = "color:white" href="mailto:lscds.uoft@gmail.com"><i class="fa fa-envelope"></i> lscds.uoft [ at ] gmail.com</a><br>
                                        </address>
                                    </div><!--/col-md-3-->
                                    <!-- End Address -->
                                </div>
                            </div> 
                        </div><!--/footer-->

                        <div class="copyright">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">                     
                                        <p>
                                        2014 &copy; All Rights Reserved.
                                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                                        </p>
                                    </div>


                                </div>
                            </div> 
                        </div><!--/copyright-->
                    </div>     
                    <!--=== End Footer Version 1 ===-->
    
                    
                </div><!--/wrapper-->

                <!-- JS Global Compulsory -->           
                <script type="text/javascript" src="{%static "assets/plugins/jquery/jquery.min.js" %}"></script>
                <script type="text/javascript" src="{%static "assets/plugins/jquery/jquery-migrate.min.js" %}"></script>
                <script type="text/javascript" src="{%static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script> 
                <script type="text/javascript" src="{%static "assets/plugins/flexslider/jquery.flexslider-min.js" %}"></script>
                <script type="text/javascript" src="{%static "editable/js/bootstrap-editable.min.js" %}"></script>
                <!-- JS Implementing Plugins -->       
               <script type="text/javascript" src="{% static "js/jquery.fancybox.js" %}"></script>
                <script type="text/javascript" src="{%static "assets/plugins/back-to-top.js" %}"></script>
                <!-- JS Customization -->
                <script type="text/javascript" src="{%static "assets/js/custom.js" %}"></script>
                <!-- JS Page Level -->           
                <script type="text/javascript" src="{%static "assets/js/app.js" %}"></script>
          
                <script src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                
                {% block javascript %}
                
                
                {% endblock %}




  <script>
 $(document).ready(function() {
 $('#mailinglist').on('show', function(e) {
          $('#mailinglist').focus()
        
})

$('#submitMailinglist').click(function() {
    $("form#mailinglistForm :input").each(function(){
     if ($(this).val()==="") {
      // invalid 
       $($(this)).closest('.form-group').addClass('has-error')    
      $($(this)).next('.help-inline').show();
      return false;
       }
       else{
        $.ajax({
                 url: '/ajax_mailing_list/',
                   data:{"data":$(this).text()},
                  type: 'post', //this is the default though, you don't actually need to always mention it
                   success: function(data) {
                     if (data == "success"){ 
                     $('#submitMailinglist').html("Success")
                       }
                       else{
                       $('#submitMailinglist').html("Success")
             
                      }    
        },
                     error: function(data) { 
     console.log(data)
    }
      }); 
       
       }
    })
    
    //$("form").unbind().submit();  
     //$('#registration').modal('toggle');
});


 window.setTimeout(function(){
    $(".twitter-tweet").contents().find(".e-entry-title").css("font-size","12");
    $(".twitter-tweet").contents().find(".tweet").css("font-family","sans-serif");
     $(".twitter-tweet-rendered").css("width","100%");
      
    $(document).on("click",'.nav  a', function(){

   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");

   
});
    
  }, 1000);

 App.init();      
 App.initSliders();  


  
});
                                       </script>
                                          <!--[if lt IE 9]>
                                       <script src="assets/plugins/respond.js"></script>
                                       <script src="assets/plugins/html5shiv.js"></script>
                                       <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
                                       <![endif]-->
                                      


                                   </body>
                               </html>
