{% extends "photologue/root.html" %}
{% load url from future %}
            {% load staticfiles %}
            {% load static %}
            {% load i18n %}

{% block title %}Galleries for {{ month|date:"F Y" }}{% endblock %}

{% block content %}
<style>
    .hidden {
    display: none;
}
.fancybox-title {
    padding: 0 0 10px 0;
}
</style>

<link rel="stylesheet" href="{% static "css/jquery.fancybox.css " %}">
  <!--=== Content Part ===-->

<h1>Galleries for {{ month|date:"F Y" }}</h1>
		
<div class="gallery-page">
    {% if object_list %}
 <div class="row margin-bottom-20">
    
{% for gallery in object_list %}
<div class="col-md-3 col-sm-6">

{% with gallery.public|first as image %}
<p> {{gallery}} </p>
<a class="fancybox thumbnail" rel="gallery{{gallery}}" title="{{gallery}}" href="{{image.get_display_url }}">
        <img src="{{image.get_thumbnail_url }}" alt=""/>
    </a>
{% endwith %}

     <div class="hidden">
   {% for photo in gallery.public %}
   <a class="fancybox thumbnail" rel="gallery{{gallery}}" title="{{gallery}}-{{photo}}" href="{{ photo.get_display_url }}">
          <img src="{{ photo.get_thumbnail_url }}" alt=""/></a>
        {% endfor %}
    </div>
     </div>

 {% endfor %}
 {% else %}


    <p>No galleries were found.</p>
    {% endif %}
       </div>

   </div>

     <!--=== Content Part ===-->


{% endblock %}


{% block side_bar %} 


<h2><a href="{% url 'pl-photologue-root' %}" class="btn btn-primary">View all galleries.</a></h2>
{% endblock %}

