{% extends "photologue/root.html" %}
{% load url from future %}
{% load future %}
            {% load staticfiles %}
            {% load static %}
            {% load i18n %}

{% block title %}Latest Photo Galleries{% endblock %}
{% block css %}

<link rel="stylesheet" href="{% static "css/jquery.fancybox.css " %}">
<style>.hidden {
    display: none;
}
</style>
{% endblock %}

{% block content %}


  <!--=== Content Part ===-->
		
<div class="gallery-page">
    {% if latest %}
 <div class="row margin-bottom-20">
    
{% for gallery in latest %}
<div class="col-md-3 col-sm-6">

{% with gallery.public|first as image %}

<a class="fancybox thumbnail" rel="gallery{{gallery}}" title="Gallery 1 - 1" href="{{image.get_display_url }}">
        <img src="{{image.get_thumbnail_url }}" alt=""/>
    </a>
{% endwith %}

     <div class="hidden">
   {% for photo in gallery.public %}
   <a class="fancybox thumbnail" rel="gallery{{gallery}}" title="Gallery 1 - 2" href="{{ photo.get_display_url }}">
          <img src="{{ photo.get_thumbnail_url }}" alt=""/></a>
        {% endfor %}
    </div>
     </div>

 {% endfor %}
 {% else %}


    <p>No galleries were found.</p>
    {% endif %}
       </div>

   </div>

     <!--=== Content Part ===-->

  {% endblock %}

{% block side_bar %} 

Gallery Archieve
  {% if latest %}

{% regroup latest by date_added|date:"Y" as points_by_year %}
<div class="entry-content">
    {% for year_points in points_by_year %}
    <table class='table'>
        <caption>
            {{year_points.grouper}}
        </caption>
        {% regroup year_points.list by date_added|date:"M" as points_by_month %}
        {% for month_points in points_by_month %}
        <tr>
            <td>
                <p> <a href="{% url 'pl-gallery-archive-month' year_points.grouper month_points.grouper  %}">{{month_points.grouper}} </a></p>
               </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>

{% endif %}

  {% endblock %}


  {% block javascript %}
<script>
</script>

{% endblock %}

