{% extends "photologue/root.html" %}
{% load url from future %}

{% block title %}All Galleries{% endblock %}

{% block content %}

<h1>All galleries</h1>
<div class='row'>

    {% if object_list %}
    {% for gallery in object_list %}
    <div class="container photo-gallery">
        <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
        {% for photo in gallery.sample %}
        <div class="col-xs-2  gallery-photo">
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <p>No galleries were found.</p>
    {% endif %}
</div>

<div class='row'>

    {% if is_paginated %}
    <p>{{ page_obj.paginator.count }} galleries total.</p>
    <div id="page_controls">
        <p>{% if page_obj.has_previous %}
        <a href="{% url 'pl-gallery-list' page_obj.previous_page_number %}">Previous</a> | {% endif %} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} {% if page_obj.has_next %}| <a href="{% url 'pl-gallery-list' page_obj.next_page_number %}">Next</a>{% endif %}
        </p>
    </div>
    {% endif %}
</div>

{% regroup object_list by date_added|date:"Y" as points_by_year %}
<div class="entry-content">
    {% for year_points in points_by_year %}
    <table>
        <caption>
            <a href="{% url 'pl-gallery-archive-year' year_points.grouper   %}">{{year_points.grouper}} </a>
        </caption>
        {% regroup year_points.list by date_added|date:"M" as points_by_month %}
        {% for month_points in points_by_month %}
        <tr>
            <td>
                <p> <a href="{% url 'pl-gallery-archive-month' year_points.grouper month_points.grouper  %}">{{month_points.grouper}} </a></p>
               </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>

{% endblock %}
