{% extends "base.html" %}

{% block main %}

<div class = 'col-md-9'>

{% block content %} 

{% endblock %}
</div>


<div class = 'col-md-3'>
{% block side_bar %} 

{% endblock %}
</div>


    {% endblock %}

     {% block javascript %}
  <script>
       $(".fancybox").fancybox({
                type: "image",
                padding : 0,
                helpers : {
                             title: {
                             type: 'inside',
                             position: 'top'
                                    }
                          },  
                nextEffect: 'fade',
                prevEffect: 'fade'
    }); 


</script>

{% endblock %}

