{% extends "admin/change_form.html" %}
{% load admin_static%}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/photologue/css/change_form.css" %}" />
{% endblock %}

{% block after_field_sets %}
    {{block.super}}
    <fieldset class="module aligned colapse thumbs">
        <h2>Avaliable sizes:</h2>
        {%for size in sizes%}
        {%if 'admin_thumbnail' in size.name %}
        <div class="image">
            <img src="{{original.get_admin_thumbnail_url}}"/>
        </div>
        {%endif%}
        {%endfor%}

        <div class="sizes">
            <ul>
            {%for size in sizes%}
                <li>
                <a target="_blank" href="{%url 'admin:photologue-photo-size' object_id=original.pk size=size.name %}">
                    {{size.width}}x{{size.height}}
                </a>
                </li>
            {%endfor%}
            </ul>
        </div>

    </fieldset>
{% endblock %}