{% load i18n %}
{% load url from future %}

<!doctype html>
<html lang="en">

    <head>
        <title>{{site.name}} </title>
    </head>
<style type="text/css">
.header {
background:url("http://www.lscds.org/static/images/lscds-logo.jpg");
 background-size: 400px;
 background-repeat: no-repeat;
 padding-top: 60px;
}

   

 </style>
    <body>
<div class = "header"></div>
        <p>

        <h4> Hi {{user}}</h4>

 {% if action == "register" %}  

        {% if event.event_type.pk == 1 %}
      This is a confirmation that you have registered to attend the {{event}}
        ,  {{event.starts|date:'l, M. dS o'|safe}}
        </p>   

        <p><strong>*Registration:</strong> 5:45-6:15pm</p>
        <p><strong>Attire:</strong> Business casual</p>
        <p><strong>Location:</strong> Chestnut Conference Centre, 89 Chestnut St. Toronto, ON M5G 1R1 </p>
        <p><strong>Your guests:</strong>
        <p><strong>Round table session I:</strong> {{session1}} </p>
        <p><strong>Round table session II:</strong> {{session2}}</p>
        *Please note that if you do not arrive by 6:15 your spot will be given away to student on the waitlist.
        **On the day of the event please bring a digital or paper copy of this email to confirm your registration.
        For more information about the event please visit our website at
        <a href="http://{{site.domain}}{% url 'event:event-detail' slug=event.slug %}">
        LSCDS Networking Reception</a> for the
        evening's agenda and other information.
        
        
        
        {% elif event.event_type.pk == 2  %}
          This is a confirmation that you have registered to attend the {{event}}
        ,{{event.starts|date:'l, M. dS o'|safe}}
        </p>   

        <p><strong>*Registration:</strong> 9:00-9:30 am (Macleod Auditorium, MSB)</p>
        <p><strong>Attire:</strong> Business casual</p>
        <p><strong>Location:</strong> {{event.location}} </p>
        <p><strong>Your Panels:</strong>
        <p><strong>Career Panel Discussion Session 1:</strong> {{session1}} </p>
        <p><strong>Career Panel Discussion Session 2:</strong> {{session2}}</p>
        On the day of the event, please bring a digital or paper copy of this email to confirm your registration. Please note that the LSCDS is not responsible for changes in guests and companies.

For more information about the event, please visit our
        <a href="http://{{site.domain}}{% url 'event:event-detail' slug=event.slug %}">
        website</a>.  Please refer to the <a href="http://{{site.domain}}{% url 'faq' %}">
        FAQ</a> page for information on registration modification refund policy.
        
        
        {% else %}

        This is a confirmation that you have registered to attend the LSCDS seminar: {{event}}
        <p><strong>Date and time:</strong> {{event.starts|date:'M-d-o'}} at {{event.starts|date:'P'}} to {{event.ends|date:'P'}}</p>
        <p><strong>Location: </strong>{{event.break_location|safe}} </p>
        For more information about the seminar and the speaker{{event.get_talks|pluralize}},
       <br> <br>{% for talks in event.get_talks %}<strong> {{talks.presenter.full_name}}</strong><br/><br/> {% endfor %} 
        
       visit   <a href="http://{{site.domain}}{% url 'event:event-detail' slug=event.slug %}">
         LSCDS Seminars</a>
         {% endif %}
         
         
         
         
         

 {% elif action == "modify" %} 
 
 {% if event.event_type.pk == 1 %}
 You have made a change to your
  registration for the  {{event}} . Your new panel selections are:
 <p><strong>Round table session I:</strong> {{session1}} </p>
 
  <p><strong>Round table session II:</strong> {{session2}}</p>
  Thank you, and we look forward to seeing you at the event. 
  
{% endif %}

{% if event.event_type.pk == 2 %} 

 You have made a change to your
  registration for the  {{event}} . Your new guest selections are:
  <p><strong>Career Panel Discussion Session 1:</strong> {{session1}} </p>
   <p><strong>Career Panel Discussion Session 2:</strong> {{session2}}</p>
  Thank you, and we look forward to seeing you at the event.
  
{% endif %}



{% else %}        

This is a confirmation that you have <strong> unregistered </strong>
from attending LSCDS' {{event}} on </p> {{event.starts|date:'l, M. dS o'|safe}}
.<p>
Remember to check out <a href="http://{{site.domain}}">LSCDS webiste </a> for upcoming events. 
</p>

{% endif %}


        <p>

        Sincerely,<br>
        {{site.name}} Team

        </p>
    </body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
The activation key for the new account.

``expiration_days``
The number of days remaining during which the account may be
activated.

``site``
An object representing the site on which the user registered;
depending on whether ``django.contrib.sites`` is installed, this
may be an instance of either ``django.contrib.sites.models.Site``
(if the sites application is installed) or
``django.contrib.sites.models.RequestSite`` (if not). Consult `the
documentation for the Django sites framework
<http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
details regarding these objects' interfaces.

``user``
The new user account

``request``
``HttpRequest`` instance for better flexibility.
For example it can be used to compute absolute register URL:

http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'registration_activate' activation_key %}

or when using Django >= 1.7:

{{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}
